<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base :: css"></div>
    <title>Product New</title>
</head>
<body>

<header th:replace="base :: header"></header>

<!-- Page Content -->
<div class="container my-5 py-5">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mb-3">
        Spring eCommerce <small>Productos</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Crear Productos</li>
    </ol>

    <h2>Crear Producto</h2>
    <form class="form-horizontal" th:action="@{/admin/product/new/save}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Ingrese el nombre del producto" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Descripción:</label>
            <div class="col-sm-10">
        <textarea class="form-control" id="description" name="description"
                  placeholder="Ingrese la descripcion del producto" required
                  autocomplete="off"> </textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="image">Imagen:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image" name="image"
                       placeholder="Ingrese la url de la imagen" autocomplete="off" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="stock">Cantidad:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="stock"
                       name="stock" placeholder="Ingrese la cantidad del producto"
                       required autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Precio:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" step="any" id="price" name="price"
                       placeholder="Ingrese el precio del producto" autocomplete="off" required>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-saved"></span> Guardar
                </button>
            </div>
        </div>

    </form>

</div>
<!-- /.container -->

<footer th:replace="base :: footer"></footer>

<div th:replace="base :: scripts"></div>

</body>
</html>