<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base :: css"></div>
    <title>Cart</title>
</head>
<body>

<header th:replace="base :: header"></header>

<!-- Page Content -->
<div class="container my-5 py-5">


    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Carrito</li>
    </ol>

    <table class="table table-borderless table-hover text-center">
        <tbody>
        <tr th:each="product:${cart}">
            <td class="align-middle" th:text="${product.name}"></td>
            <td class="align-middle">
                <img th:src="${product.image}" width="100">
            </td>
            <td class="align-middle" th:text="${product.description}"></td>
            <td class="align-middle">$<span th:text="${product.price}"></span></td>
            <td class="align-middle">
                <a th:href="@{/cart/remove(productId=${product.id})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <p th:if="${isNotEmpty}" class="lead">Total: <span class="font-weight-bold" th:text="${total}"></span></p>

    <a th:if="${isNotEmpty}" class="btn btn-success" href="/payment">Comprar</a>

</div>
<!-- /.container -->

<footer th:replace="base :: footer"></footer>

<div th:replace="base :: scripts"></div>

</body>
</html>