<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base :: css"></div>
    <title>eCommerce</title>
</head>
<body>

<header th:replace="base :: header"></header>

<!-- Page Content -->
<div class="container my-5 py-5">


    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Carrito</li>
    </ol>

    <form class="my-5" th:action="@{/payment/pay}" method="post" th:object="${creditCard}">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="cardholder_name">Nombre del titular</label>
                <input type="text" class="form-control" id="cardholder_name"
                       placeholder="Nombre del titular de la tarjeta" th:field="*{cardholderName}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="card_number">Número de tarjeta</label>
                <input type="text" class="form-control" id="card_number"
                       placeholder="Número de tarjeta" th:field="*{cardNumber}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="expiration_date">Fecha de vencimiento</label>
                <input type="text" class="form-control" id="expiration_date"
                       placeholder="Fecha de vencimiento" th:field="*{expirationDate}" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cvv">Código de seguridad</label>
                <input type="text" class="form-control" id="cvv" placeholder="CVV" maxlength="3"
                       th:field="*{cvv}" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Realizar compra</button>
    </form>

    <p class="text-danger my-5 text-center" th:if="${creditCardError}" th:text="${creditCardError}"></p>

</div>
<!-- /.container -->

<footer th:replace="base :: footer"></footer>

<div th:replace="base :: scripts"></div>

</body>
</html>