<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:replace="base :: css"></div>
    <title>Admin</title>
</head>
<body>

<header th:replace="base :: header"></header>

<!-- Page Content -->
<div class="container my-5 py-5">

    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Productos</li>
    </ol>

    <table class="table table-borderless table-hover text-center">
        <tbody>
        <tr th:each="product:${products}">
            <td class="align-middle" th:text="${product.name}"></td>
            <td class="align-middle">
                <img th:src="@{/product/image/{id}(id=${product.id})}" alt="Imagen del producto" width="100">
            </td>
            <td class="align-middle" th:text="${product.description}"></td>
            <td class="align-middle" th:text="${product.stock}"></td>
            <td class="align-middle">$<span th:text="${product.price}"></span></td>
            <td class="align-middle">
                <form th:action="@{/admin/product/{id}/toggleFeatured(id=${product.id})}" th:object="${product}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" th:name="id" th:value="${product.id}" />
                    <button type="submit" class="btn btn-link" th:classappend="${product.isFeatured} ? 'alert-success text-success' : 'alert-danger text-danger'">
                        Destacado
                    </button>
                </form>
            </td>
            <td class="align-middle">
                <a th:href="@{/admin/product/{id}/edit (id=${product.id}) }">Editar</a>
            </td>
            <td class="align-middle">
                <a class="text-danger" th:href="@{/admin/product/{id}/delete (id=${product.id}) }">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{/admin/product/new}" >Agregar Producto</a>

</div>
<!-- /.container -->

<footer th:replace="base :: footer"></footer>

<div th:replace="base :: scripts"></div>

</body>
</html>