<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="base :: css"></div>
    <title>Product List</title>
</head>
<body>

<header th:replace="base :: header"></header>

<!-- Page Content -->
<div class="container my-5 py-5">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mb-3">
        Spring eCommerce <small>Productos</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Ver Productos</li>
    </ol>

    <a class="btn btn-primary" th:href="@{/product/new}" > Crear Producto</a>
    <h2>Productos</h2>
    <table class="table table-borderless table-hover text-center">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Descripción</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products}">
            <td class="align-middle" th:text="${product.name}"></td>
            <td class="align-middle">
                <img th:src="${product.image}" width="100">
            </td>
            <td class="align-middle" th:text="${product.description}"></td>
            <td class="align-middle" th:text="${product.stock}"></td>
            <td class="align-middle">$<span th:text="${product.price}"></span></td>
            <td class="align-middle">
                <a th:href="@{product/{id}/edit (id=${product.id}) }">Editar</a>
            </td>
            <td class="align-middle">
                <a class="text-danger" th:href="@{product/{id}/delete (id=${product.id}) }">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- /.container -->

<footer th:replace="base :: footer"></footer>

<div th:replace="base :: scripts"></div>

</body>
</html>